{% extends 'layout.html' %}



{% block body %}
	
	<h1 class="title"> Regester </h1>
	
	<hr>
		
	<p id="err" style="display: {{err}}"> 
		{{ error }}
	</p>
	<form action="{{url_for('APP.cuser')}}" method="post">

		<input type="name" name="#name" autocomplete="off" required="" placeholder="Enter Full Name ">
		<input type="email" autocomplete="off" required="" name="#email" placeholder="Enter Email">
		<input type="password" required="" autocomplete="new-password" name="#pass" placeholder="Enter Password">
		<input type="submit" name="#in" value="Sign UP">

	</form>

{% endblock %}